/* Global */

.left
  float left !important

.right
  float right !important

.hide
  display none;

.antialiased
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.text-left
  text-align left !important

.text-right
  text-align right !important

.text-center
  text-align center !important

.text-justify
  text-align justify !important

.lh50
	line-height 50px

.posRel
	position relative

.posAbs
	position absolute

/* Cajas */
.box
	display block

.box100
	width 100%
	height 100%

.box90
	width 90%
	margin 0 5%

.box80
	width 80%
	margin 0 10%

.box60
	width 60%
	margin 0 20%

.boxCenter
	margin 0 auto

.box200
	width 200px
	height 200px

.box600
	max-width 600px

.inlineVT
	display inline-block
	vertical-align top

.inlineVM
	display inline-block
	vertical-align middle

.middleTD
	tr
		td
			vertical-align middle!important

.boxSombra
	border-radius 6px
	box-shadow 0px 4px 1px rgba(0,0,0,.4), 0px 6px 1px #666

.bold
	font-weight 700

.mayus
	text-transform uppercase

.text-sombra
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 1)

.imgBall
	border-radius 50%

.br5
	border-radius: 0.5em

.br1
	border-radius: 1em

/* padding */
.pLat1
	padding 0.5em 1em !important

.pLat2
	padding 0 2em !important

.p1
	padding 1em

.p20
	padding 20px

/* margin */
.m0
	margin 0

.m1
	margin 1em !important

.mt0
	margin-top 0

.mt1
	margin-top 1em !important

.mt20
	margin-top 20px !important

.mLat2
	margin 0 2em !important

.mIzq2
	margin 0 0 0 2em !important

.w80
	width 80% !important

.w90
	width 90% !important

.w100
	width 100% !important

/* font-size */
.fs05
	font-size 0.5em !important

.fs125
	font-size 1.25em !important

.fs15
	font-size 1.5em !important

.fs20
	font-size 2em !important

.fs25
	font-size 2.5em !important

.txtSombra
	text-shadow 1px 1px 3px #000000

a
	text-decoration none

a:hover, a:focus
	text-decoration none
	color #fff

.lnkBlanco
	a
		color #fff

.yellow
	color #ff0

.verde
	color #9c0

.gris
	color gray

.grisDark
	color #444

.grisClaro
	color #ccc

.rojo
	color red

.rojoDark
	color #c03322 !important

.azul
	color blue

.blanco
	color #fff

.negro
	color black

.celeste
	color #00cbff

.naranja
	color #fa5500

/* Bg*/

.bgVerde1
	background #00A36F

.bgCeleste
	background #00cbff

.bgCeleste2
	background #41a3d1

.bgGrisDark
	background #4E4E4E

.bgGrisDark2
	background #333

.bgRedDark
	background #A52623

.bgBlanco
	background #fff

.bgBlancoT
	background rgba(255,255,255,0.8)

.bgCelesteT
	background rgba(93, 213, 252, 0.8)

.bgGrisT
	background rgba(93, 213, 252, 0.8)

.bgRedT
	background rgba(252, 93, 93, 0.8)

.bgBlack
	background #000

.bgNaranja2
	background #F18B28

.bgNaranja
	background #E7681A

.bgNaranjaOk
	background #FA5500

.bgNaranjaT
	background rgba(231,104,26,0.8)

button
	& > i
		font-size 125%
		margin-right 8px

.button
	border none
	cursor pointer
	display inline-block
	height auto
	margin 0 1em
	padding 0.5em
	text-decoration none
	text-align left
	width auto
	-webkit-border-radius 4px 4px
	-moz-border-radius 4px / 4px
	border-radius 4px / 4px
	-webkit-transition-property background-color
	-moz-transition-property background-color
	-o-transition-property background-color
	transition-property background-color
	-webkit-transition-duration 0.12s
	-moz-transition-duration 0.12s
	-o-transition-duration 0.12s
	transition-duration 0.12s

.bRed
	background-color #dc4b39
	color white
	&:hover
		background-color #c03322
		color white

.bNaranja
	background-color naranja
	color white
	&:hover
		background-color #d62b0f
		color white

.bGris
	background-color #fff
	color #555
	&:hover
		background-color #F0EFF5
		color #000

.bON
	background-color #00FAEC
	color white
	&:hover
		background-color #00ADA4
		color #000

.bOFF
	background-color #AEAEAE
	color #D2DEDD
	&:hover
		background-color #6C7978
		color #000

.btnDownVerde
	background-color #95C11F
	border-bottom 4px solid #195470
	border-radius 5px
	color #fff
	display inline-block
	font-size 1.25em
	max-width 300px
	padding 12px 10px
	width 100%

.btnDownRojo
	background-color #CA4E47
	border-bottom 4px solid #A52623
	border-radius 5px
	color #fff
	display inline-block
	font-size 1.25em
	max-width 300px
	padding 12px 10px
	width 100%

