/*! Structure */

body, html
	font-family "Roboto Slab","Tahoma","Verdana","Arial",sans-serif;
	color #000
	width 100%
	height 100%

body
	background #fff
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover

#contenedor
	max-width 1200px
	padding 0
	width 100%
	margin 0 auto

#contenido
	width 100%

main, #page
	min-height 500px
	text-align center
	color #fff

header
	height 150px
	width 150px
	margin-top: 2%;
	margin-left: 47%;

footer
	background linear-gradient(135deg, #493C4C 0%, #3D3039 50%, #493C4C 100%) repeat scroll 0% 0% transparent;
	border-top 1px solid #F8F8F8;
	color #fff
	padding 20px 0px
	position relative
	text-align center
	width 100%
	a
		color #fff

/* Secciones */
#top {
	/*background url('../img/bg-top.jpg') bottom center no-repeat*/
	height 137px
}

#welcome {
	background url('../img/bg-welcome3.jpg') bottom center no-repeat
	height 530px
}

#descripcion {
	background #444fa2 url('../img/bg-descripcion.jpg') bottom center no-repeat
	height 630px
}

#juego {
	background url('../img/bg-juego.jpg') bottom center no-repeat
	height 1220px
}

#empresa {
	background #e3194c url('../img/bg-empresa3.jpg') top center no-repeat
	height 793px
}

#tips {
	background #ffc10c url('../img/bg-tips.jpg') bottom center no-repeat
	height 500px /* 910 */
}

#jugar {
	background #444fa2 url('../img/bg-jugar.jpg') bottom center no-repeat
	height 650px
}

#preguntas {
	background #80b439 url('../img/bg-preguntas.jpg') bottom center no-repeat
	height 460px
}

#contacto {
	background #fff
	height 370px
}

/* secciones internas */
#top h1 {
	margin 0px
	text-align left
	position absolute
	top 0
	left 0
}

.p_info h2 {
	margin 0
	padding 0
}

#welcome .p_info {
	color: #999;
	font-size: 1.5em;
	max-width: 200px;
	text-align: center;
	float: right;
	margin-top: 10%;
	margin-right: 10%;
}

#welcome .btn-rosado {
	background: #E3184D;
	color: #fff;
	padding: 10px 30px;
	font-size: 2em;
}

#descripcion .p_info {
	width 40%
	margin-left 5%
	text-align left
	font-size 1.5em
	float left
	margin-top 2%
}

#descripcion .p_video {
	width 55%
	float right
	margin-top 2%
}

#juego .p_info {
	float: right;
	margin-right: 5%;
	margin-top: 50%;
	text-align: center;
}

#juego .p_info img{
	border-radius: 20px;
}

#empresa .p_info {
	width 40%
	margin-left 5%
	text-align left
	font-size 1.5em
	float left
	margin-top 2%
}

#empresa .p_video {
	width 40%
	float right
	margin-top 2%
	margin-right 5%
	text-align left
	font-size 1.5em
}

#tips .p_info {
	width 60%
	margin-left 5%
	text-align left
	font-size 1.5em
	float left
	margin-top 2%
}

#jugar .p_info {
	width 60%
	margin-right 5%
	text-align right
	float right
}

#preguntas .p_info {
	margin-left 5%
	margin-right 5%
}

#contacto .p_info {
	color #999
}