/*! Style */
.btn {
	display: inline-block;
	line-height: 100%;
	padding: 0.7em;
	text-decoration: none;
	color: #fff;
	width: 200px;
	line-height: 140%;
	font-size: 17px;
	font-weight: bold;
}

.btn:hover, .btn:hover {
	background: #444;
}

.btn, .btn.disabled, .btn[disabled] {
    background-color: transparent;
    border-color: transparent;
    border: none;
}

.btn:hover, .btn:focus, .btn:active, .btn.active {
    color: white;
    background-color: transparent;
    border: none;
    outline: none !important;
}

#mail-us-footer a {
	font-weight: 100;
	font-size: 35px;
	color:#493c4c;
	background-color: #f1e7c0;
	border-radius: 5px;
	padding: 10px 0 13px;
	display: block;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mail-us-footer a:hover {
  background-color: #FFF;
  color: #333333;
  text-decoration: none;
}

h2#call-us-footer {
	font-size: 26px;
	color: #F8F8F8;
}

p.text-footer {
	font-size: 14px;
	color: #F8F8F8;
	margin: 20px 0;
}

.social-icons {
	margin-bottom: 20px;
}

.social-icons a:last-child {
	margin-right: 0px;
}

.btn.btn-clear {
	color: #F8F8F8;
	font-weight: 700;
	transition-property: transform;
}

.social-icons .btn {
	margin-right: 15px;
	transition-duration: 0.8s;
	-webkit-transition-duration: 0.8s;
}

.btn-round i {
	background: transparent;
	border-radius: 5px;
	border: 1px solid #FFF;
	color: #F8F8F8;
	font-size: 20px;
	height: 45px;
	line-height: 2;
	transition: all 200ms ease-in 0s;
	width: 45px;
}

.btn-round {
	display: inline-block;
	height: 45px;
	padding: 0;
	width: 45px;
}

.social-icons a:hover {
	text-decoration: none;
}

.social-icons i.fa-twitter {
	border-color: #70c2e9;
	background: #70c2e9;
	color: #FFFFFF;
}

.social-icons i.fa-twitter:hover {
	border-color: #70c2e9;
	background: #70c2e9;
	color: #2B2D35;
}

.social-icons i.fa-facebook {
	border-color: #677fb5;
	background: #677fb5;
	color: #FFFFFF;
}

.social-icons i.fa-facebook:hover {
	border-color: #677fb5;
	background: #677fb5;
	color: #2B2D35;
}

.social-icons i.fa-instagram {
	border-color: #d8545d;
	background: #d8545d;
	color: #FFFFFF;
}

.social-icons i.fa-instagram:hover {
	border-color: #d8545d;
	background: #d8545d;
	color: #2B2D35;
}

.social-icons i.fa-dribbble {
	border-color: #e299c2;
	background: #e299c2;
    /*color: #e299c2;
	border-color: #FFF;*/
	color: #FFF;
}

.social-icons i.fa-dribbble:hover {
	border-color: #e299c2;
	background: #e299c2;
	color: #2B2D35;
}

#anchor {
	overflow: hidden;
	text-align: center;
	-webkit-transition: all 1500ms ease 0s;
	-moz-transition: all 1500ms ease 0s;
	-ms-transition: all 1500ms ease 0s;
	-o-transition: all 1500ms ease 0s;
	transition: all 1500ms ease 0s;
}

a.anchor-link {
    color: #F8F8F8;
    outline: medium none;
    padding-top: 10px;
}

a#go-top {
	background: transparent;
	border-radius: 7px 7px 0 0;
	bottom: 0;
	color: #333333;
	height: 45px;
	width: 45px;
	margin-top: 20px;
	padding: 0;
	z-index: 100;
	outline: none;
}

#go-top i {
	color: #FFF;
}

.fa-info, .fa-play, .fa-pause {
	background: none;
	border-radius: 5px;
	border: 1px solid #F8F8F8;
	color: #F8F8F8;
	cursor: pointer;
	height: 40px;
	line-height: 2.5 !important;
	text-align: center;
	width: 40px;
	-webkit-transition: all 500ms ease 0s;
	-moz-transition: all 500ms ease 0s;
	-ms-transition: all 500ms ease 0s;
	-o-transition: all 500ms ease 0s;
	transition: all 500ms ease 0s;
}

.fa-info:hover, .fa-play:hover, .fa-pause:hover {
	border-color: #f1e7c0;
	background: #f1e7c0;
	color: #333;
	-webkit-transition: all 500ms ease 0s;
	-moz-transition: all 500ms ease 0s;
	-ms-transition: all 500ms ease 0s;
	-o-transition: all 500ms ease 0s;
	transition: all 500ms ease 0s;
}

/* ================================= */
/* ::::::::: 3. Countdown :::::::::: */
/* ================================= */

#countdown_dashboard {
	display: block;
	margin: 0px auto;
	max-width: 900px;
	overflow: hidden
}

.fa-clock-o {
	-webkit-animation-name: spin;
	-webkit-animation-duration: 4000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 4000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 4000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;

	animation-name: spin;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

h3.title {
	color: #493c4c;
	display: block;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 0.9em;
	margin: 0;
	padding-bottom: 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.dash {
	padding-bottom: 10px;
	position: relative;
	opacity: 1;
}

.dash-glob {
	border-left: 1px solid #CCCCCC;
}

#countdown_dashboard .dash-glob:first-child {
	margin-left: 0;
	border-left: none
}

.dash_title {
	font-size: 16px;
	width: 100%;
	color: #493c4c;
	display: block;
	clear: both;
}

.digit {
	color: #493c4c;
	font-size: 100px;
	font-weight: 300;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	height: 110px;
	line-height: 110px;
	position: relative;
	vertical-align: middle;
}

.main section.countdown-section {
	background: #EEEEEE;
	padding: 75px 0;
	position: relative;
	z-index: 99;
}

.main section.countdown-section h1 {
	text-align: center;
	padding: 0;
	margin-bottom: 60px;
	font-size: 50px;
	letter-spacing: -1px;
	color: #f1e7c0;
}

.main section.countdown-section h2 {
	color: #FFFFFF;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -1px;
	padding: 0 0 10px;
	text-align: left;
}

.main section.countdown-section p {
	text-align: left;
	padding: 0;
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -1px;
	color: #FFF;
}

#activate {
	background:#26C281;
}

#target:hover {
	cursor:pointer;
}

/* ================================= */
/* ::::::::: 4. Newsletter ::::::::: */
/* ================================= */


.fa-bell {
	color: #f1e7c0;
}

a#newsletter {
	outline: none;
}

#subscribe {
	overflow: hidden;
	padding: 5px 15px 15px;
	width: 100%;
	z-index: 9999;
	-webkit-transition: all 1500ms ease 0s;
	-moz-transition: all 1500ms ease 0s;
	-ms-transition: all 1500ms ease 0s;
	-o-transition: all 1500ms ease 0s;
	transition: all 1500ms ease 0s;
}

#subscribe .form-control {
	border:5px solid rgba(255,255,255,0.2);
	border-right: none;
	border-radius: 5px 0px 0px 5px;
	box-shadow: none;
	float: left;
	height: 50px;
	outline: medium none;
	padding: 10px 15px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 80%;
	color: #F8F8F8
}

.form-control {
	/*background: none repeat scroll 0% 0% transparent !important;*/
	background: rgba(0,0,0,0.5) !important;
	border-width: medium medium 1px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color #F8F8F8;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 0px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset;
	color: #FFF;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}

#subscribe .form-control:hover, #subscribe .form-control:focus {
	box-shadow: none;
}

#subscribe button.submit {
	border:5px solid rgba(255,255,255,0.2);
	border-radius: 0px 5px 5px 0px;
	color: #F8F8F8;
	font-size: 16px;
	line-height: 118px;
	padding: 11px 16px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 20%;
}

#subscribe .submit.focus, #subscribe .submit:hover {
	background-color: #f1e7c0;
	color: #000;
}

.subscribe-newsletter {
	padding: 50px 0;
	background: rgba(0,0,0,0.3);
}

.controls .fa {
	color: #A5ABB5;
	font-size: 25px;
	margin: 13px 0 0 -30px;
	position: absolute;
}

p.message {
	font-size: 12px;
	text-align: center;
	height: 20px;
}

form.success-full .fa, form.success-full .message {
	color: #f1e7c0;
}

form.error .fa, form.error .message {
	color: #F8F8F8;
}

form.bad-email .fa, form.bad-email .message {
	color: #F8F8F8;
}

#mail-sub::-webkit-input-placeholder,
#mail-sub::-webkit-input-placeholder
{
  color:    #F8F8F8;
}

/* ================================= */
/* :::::::::: 2.1 Chevron :::::::::: */
/* ================================= */

.scrollbott {
	bottom: 20px;
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	left: 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	z-index: 11;
}